@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .about__block {
        &:nth-child(4) {
            margin-top: 30px;
        }
    }
    .about__information {
        left: -16%;
    }
    .about__information_ellipse_image3 {
        right: -9.5%;
        img {
            max-width: 60%;
        }
    }
    .about__information_ellipse_image1 {
        left: 14.2%;
    }
    .about__information_ellipse_image2 {
        left: 19.3%;
    }
    .about__information_ellipse_block  {
        padding: 0 42px;
        left: 44%;
    }
    .portfolio__block {
        width: 850px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 700px;
    }
    .about__block {
        &:nth-child(3) {
            margin-top: 30px;
        }
    }
    .container_small {
        max-width: 700px;
    }
    .about {
        min-height: 2500px;
    }
    .about__information_ellipse_image1 {
        img {
            max-width: 60%;
        }
    }
    .about__information_ellipse_image2 {
        img {
            max-width: 60%;
        }
    }
    .about__information_ellipse_image3 {
        right: -16.5%;
        img {
            max-width: 50%;
        }
    }
    .about__information_ellipse_block  {
        padding: 0 42px;
        left: 34%;
    }
    .portfolio__block_wrapper {
        flex-wrap: wrap;
    }
    .portfolio__block {
        min-height: 600px;
        width: 500px;
    }
    .promo__image {
        margin-top: 50px;
        img {
            max-width: 140%;
        }
    }
    .promo__header_wrapper_menu_list {
        display: none;
    }
    .promo__header_burger {
        position: relative;
        width: 50px;
        height: 20px;
        display: block;
        right: 0%;
        top: 2%;
        z-index: 3700;
        margin-right: 30px;
        transition: all .3s;
        &_active {
            span {
                display: none;
            }
            &::before {
                transform: rotate(-45deg);
                bottom: 9%;
            }
            &::after {
                transform: rotate(45deg);
                top: 9%;
            }
        }
        span {
            position: absolute;
            background: #fff;
            width: 100%;
            height: 4px;
            top: 9px;
            left: 0;
            transition: all .3s;
        }
        &::before {
            content: '';
            position: absolute;
            background: #fff;
            width: 100%;
            height: 4px;
            top: 0;
            left: 0;
            transition: all .3s;
        }
        &::after {
            content: '';
            background: #fff;
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -16%;
            left: 0;
            transition: all .3s;
        }
    }
    .about__information {
        height: 800px;
        overflow: hidden;
    }
    .promo__header_wrapper_logo {
        z-index: 2001;
    }
    .about {
        min-height: 2200px;
    }
    .portfolio {
        overflow: hidden;
    }
    .promo {
        overflow: hidden;
    }
    .promo__header_burger_list {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .9);
        left: 0;
        top: -150%;
        z-index: 2000;
        transition: all .3s;
        display: block;
        &_active {
            top: 0;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            li {
                list-style-type: none;
                padding-left: 0;
                margin: 10px 0;
                a {
                    color: #fff;
                    font-size: 30px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }
    .promo__image {
        display: none;
    }
    .about__block {
        &:nth-child(2) {
            margin-top: 30px;
        }
    }
    .container_small {
        max-width: 400px;
    }
    .about {
        min-height: 3000px;
    }
    .about__information_ellipse_image1 {
        display: none;
    }
    .about__information_ellipse_image2 {
        display: none;
    }
    .about__information_ellipse_image3 {
        display: none;
    }
    .about__information_ellipse_block {
        left: 23%;
        top: 0;
    }
    .portfolio__block {
        width: 300px;
    }
    .footer__wrapper {
        flex-wrap: wrap;
    }
    .footer__item {
        &:nth-child(3) {
            margin-top: 30px;
        }
    }
    .footer__item_descr {
        text-align: right;
    }
}

@media (max-width: 572px) {
    .container {
        max-width: 300px;
    }
    .promo__information_name {
        font-size: 49px;
    }
    .promo__information_descr {
        width: 300px;
    }
    .promo__header_burger {
        right: -10%;
    }
    .about__information_ellipse_block_descr {
        width: 300px;
    }
    .about__information_ellipse_block {
        left: 12%;
    }
    .about__block {
        overflow: none;
    }
    .about__information {
        height: 822px;
    }
    .portfolio__block_info_descr  {
        width: 200px;
    }
    .portfolio__block {
        width: 200px;
    }
    .container_small {
        max-width: 250px;
    }
    .footer__wrapper {
        justify-content: center;
    }
    .promo__header_burger_list {
        padding-top: 60px;
    }
}